  <!-- /.content-wrapper -->
  <footer class="main-footer card-bg" style="display: flex; justify-content: space-around; align-items: center;">
    <button class="btn btn-outline-info">
      <a href="https://ru.pinterest.com/sumskaamarina698/миленькие-котята/" class="text-info" >Посмотреть на котиков чтоб отдохнуть</a>
    </button>
    <button class="btn btn-outline-info">
      <a href="https://ru.pinterest.com/vzabolotskikh/песики/" class="text-info" >Посмотреть на песиков чтоб отдохнуть</a>
    </button>
    <button class="btn btn-outline-info">
      <a href="https://ru.pinterest.com/kolosovasvet6554/еноты/" class="text-info" >Посмотреть на енотиков чтоб отдохнуть</a>
    </button>
  </footer>
